.zebra{
border: 5px dashed black;
}
.Grande {
font-size: 30px;
font-weight: bold;
}
#caja {
width: 300px;
height: 300px;
background-color: yellow;
border: 1px black;
transition: 300ms all;
cursor: pointer;
}

input{
    padding: 10px;
    width: 300px;
    font-size: 20px;
}

#datos {
    border: 4px dashed black;
    padding: 10px;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    display:none;
}
#sigueme{
  width: 25px;
  height: 25px;
  position:absolute;
  display: block;
  background-color: yellow;
  opacity: 0.5;
  border-radius: 999px;
  border: 3px solid black;
}
#ef_box{
  width: 300px;
  height: 50px;
  border: 5px dashed black;
  background: #ccc;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 19px;
  font-family: Verdana;
  margin-top: 15px;
}